general_protec_bulk_FINAL.json
{
    "nodes": [
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "getAll",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "mgot1kl4sglenym",
                "limit": 50,
                "where": "(phone,neq,0)~and(phone,neq,)~and(status,eq,Programado)",
                "options": {}
            },
            "id": "73fbb17e-1674-4356-b3ec-d83e57fb409f",
            "name": "Get Leads",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                -1260,
                1280
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "4f36e233-9c79-4363-92c4-eed18454865c",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -1040,
                1280
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "format-phone-id",
                            "name": "formattedPhone",
                            "type": "string",
                            "value": "={{ (function() { let p = ($('Split In Batches').item.json.phone || '').toString().replace(/\\D/g, ''); return p ? (p.startsWith('34') ? '+' + p : '+34' + p) : ''; })() }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "8a183ae4-e20b-4f64-9996-21d2dca7be1a",
            "name": "Normalize Phone",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -820,
                1280
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"nombre\": \"{{ $('Split In Batches').item.json.name || 'cliente' }}\",\n  \"empresa\": \"{{ $('Split In Batches').item.json.name || 'su empresa' }}\",\n  \"address\": \"{{ $('Split In Batches').item.json.address || 'su localidad' }}\",\n  \"email\": \"{{ $('Split In Batches').item.json.email || '' }}\",\n  \"formattedPhone\": \"{{ $('Normalize Phone').item.json.formattedPhone }}\",\n  \"leadId\": \"{{ $('Split In Batches').item.json.unique_id }}\"\n}",
                "options": {}
            },
            "id": "1189043e-969c-4190-906b-d4c3d3f4d6f3",
            "name": "Prepare Call Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -600,
                1280
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vapi.ai/call",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 852080ba-ce7c-4778-b218-bf718613a2b6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"customer\": { \"number\": \"{{ $json.formattedPhone }}\" },\n  \"assistantId\": \"49e56db1-1f20-4cf1-b031-9cea9fba73cb\",\n  \"phoneNumberId\": \"611c8c8e-ab43-4af0-8df0-f2f8fac8115b\",\n  \"assistantOverrides\": { \"variableValues\": { \"ciudad\": \"{{ $json.address }}\", \"nombre\": \"{{ $json.nombre }}\", \"tel_contacto\": \"{{ $json.formattedPhone }}\", \"correo_cliente\": \"{{ $json.email }}\", \"empresa\": \"{{ $json.empresa }}\" } }\n}",
                "options": {}
            },
            "id": "81e56769-ca09-4c6a-b818-8ea2080b8139",
            "name": "Call Vapi AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                1280
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "VyoKa0HV9ZpyrdVx",
                    "name": "Header Auth account"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "log-id",
                            "name": "vapi_call_id",
                            "type": "string",
                            "value": "={{ $json.id || '' }}"
                        },
                        {
                            "id": "log-name",
                            "name": "lead_name",
                            "type": "string",
                            "value": "={{ $('Prepare Call Data').item.json.empresa || 'Cliente' }}"
                        },
                        {
                            "id": "log-phone",
                            "name": "phone_called",
                            "type": "string",
                            "value": "={{ $('Prepare Call Data').item.json.formattedPhone }}"
                        },
                        {
                            "id": "log-time",
                            "name": "call_time",
                            "type": "string",
                            "value": "={{ $now }}"
                        },
                        {
                            "id": "log-status",
                            "name": "ended_reason",
                            "type": "string",
                            "value": "={{ $json.id ? 'Call Initiated' : 'Error - ' + ($json.message || $json.error || 'Unknown') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fb206c55-a126-4067-bac3-e04da3cdf1ab",
            "name": "Prepare Log",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -100,
                1280
            ]
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "m013en5u2cyu30j",
                "dataToSend": "autoMapInputData"
            },
            "id": "79dcc882-d003-42da-93dd-0ae3e1eb9cd0",
            "name": "Insert Log",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                120,
                1280
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://nocodb.srv889387.hstgr.cloud/api/v2/tables/mgot1kl4sglenym/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xc-token",
                            "value": "jx3uoKeVaidZLF7M0skVb9pV6yvNsam0Hu-Vfeww"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "=[{\"unique_id\": \"{{ $('Prepare Call Data').item.json.leadId }}\", \"status\": \"Completado\", \"fecha_planificada\": null}]",
                "options": {}
            },
            "id": "a1b2c3d4-update-lead-status",
            "name": "Update Lead Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                340,
                1280
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "16c1594a-cdbc-46aa-affe-05d9baf62788",
            "name": "Wait 30s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                560,
                1280
            ],
            "webhookId": "e006aade-1c7b-4691-8c49-71878091bc8d"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-confirmed-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "7dffe561-39ed-4358-ae79-896034238fd9",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -900,
                900
            ],
            "webhookId": "32f3436e-fcae-435a-aabe-1e5fb21782c3"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}",
                "options": {}
            },
            "id": "f508a9f8-2056-4f1b-9ae6-0f7f4441e901",
            "name": "Respond Immediately1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -700,
                900
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nlet name = '';\nlet phone = '';\nlet email = '';\nlet tipo_empresa = '';\nlet interes_recurrentes = '';\nlet notas = '';\n\n// FORMAT 1: Wrapped Vapi Server URL format\nif (body.message && body.message.type === 'tool-calls' && body.message.toolCalls) {\n  const toolCall = body.message.toolCalls.find(tc => tc.function && tc.function.name && tc.function.name.includes('save_confirmed_data'));\n  if (toolCall) {\n    const args = typeof toolCall.function.arguments === 'string' ? JSON.parse(toolCall.function.arguments) : toolCall.function.arguments;\n    name = args.name || '';\n    phone = args.phone || '';\n    email = args.email || '';\n    tipo_empresa = args.tipo_empresa || '';\n    interes_recurrentes = args.interes_recurrentes || '';\n    notas = args.notas || '';\n  }\n}\n\n// FORMAT 2: Direct Vapi API Request tool format\nif (!name && (body.name || body.email)) {\n  name = body.name || '';\n  phone = body.phone || '';\n  email = body.email || '';\n  tipo_empresa = body.tipo_empresa || '';\n  interes_recurrentes = body.interes_recurrentes || '';\n  notas = body.notas || '';\n}\n\nif (!name && !email) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    confirmed_name: name,\n    confirmed_email: email,\n    confirmed_phone: phone,\n    tipo_empresa: tipo_empresa,\n    interes_recurrentes: interes_recurrentes,\n    notas: notas\n  }\n}];"
            },
            "id": "c20afd35-3e74-4d28-89d6-b45e02d27a8e",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -500,
                900
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "id": "has-data-check",
                            "leftValue": "={{ $json.skip }}",
                            "operator": {
                                "operation": "notEqual",
                                "type": "boolean"
                            },
                            "rightValue": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "e5ac39e6-f26c-4662-be90-d0dc141bb27d",
            "name": "Has Valid Data?1",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.2,
            "position": [
                -300,
                900
            ]
        },
        {
            "parameters": {
                "url": "https://api.vapi.ai/call?limit=1",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 852080ba-ce7c-4778-b218-bf718613a2b6"
                        }
                    ]
                },
                "options": {}
            },
            "id": "cd6eb42e-0e00-4a83-9c4f-0c8759620434",
            "name": "Get Latest Vapi Call1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -100,
                900
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "VyoKa0HV9ZpyrdVx",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "set-nombre",
                            "name": "Nombre Confirmado",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.confirmed_name }}"
                        },
                        {
                            "id": "set-email",
                            "name": "Email Confirmado",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.confirmed_email }}"
                        },
                        {
                            "id": "set-phone",
                            "name": "Teléfono Confirmado",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.confirmed_phone }}"
                        },
                        {
                            "id": "set-callid",
                            "name": "Vapi Call ID",
                            "type": "string",
                            "value": "={{ Array.isArray($json) ? $json[0].id : ($json.id || '') }}"
                        },
                        {
                            "id": "set-tipo-empresa",
                            "name": "Tipo Empresa",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.tipo_empresa }}"
                        },
                        {
                            "id": "set-interes",
                            "name": "Interes Recurrentes",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.interes_recurrentes }}"
                        },
                        {
                            "id": "set-notas",
                            "name": "Notas",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.notas }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "094c54d7-0f23-4d73-9666-482ab692ba9a",
            "name": "Prepare Confirmed Record1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                100,
                900
            ]
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "mtoilizta888pej",
                "dataToSend": "autoMapInputData"
            },
            "id": "65497c59-6703-4344-a91a-3c3c5204d5ca",
            "name": "Insert Confirmed Table",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                300,
                900
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "update",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "m013en5u2cyu30j"
            },
            "id": "23e78d30-b36a-46f7-bf25-1b4bbde0ec11",
            "name": "Mark Call as Confirmed",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                500,
                900
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        }
    ],
    "connections": {
        "Get Leads": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split In Batches": {
            "main": [
                [],
                [
                    {
                        "node": "Normalize Phone",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Phone": {
            "main": [
                [
                    {
                        "node": "Prepare Call Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Call Data": {
            "main": [
                [
                    {
                        "node": "Call Vapi AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Vapi AI": {
            "main": [
                [
                    {
                        "node": "Prepare Log",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prepare Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Log": {
            "main": [
                [
                    {
                        "node": "Insert Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Log": {
            "main": [
                [
                    {
                        "node": "Update Lead Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Lead Status": {
            "main": [
                [
                    {
                        "node": "Wait 30s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 30s": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Respond Immediately1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond Immediately1": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Has Valid Data?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Valid Data?1": {
            "main": [
                [
                    {
                        "node": "Get Latest Vapi Call1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Latest Vapi Call1": {
            "main": [
                [
                    {
                        "node": "Prepare Confirmed Record1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Confirmed Record1": {
            "main": [
                [
                    {
                        "node": "Insert Confirmed Table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Confirmed Table": {
            "main": [
                [
                    {
                        "node": "Mark Call as Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "f0162b38a1f8ee05f971361a1da208e096da623a99e7bb064e6c378b9b7fd5a9"
    }
}