n8n_workflow_fixed.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 2
                        }
                    ]
                }
            },
            "id": "schedule-trigger-001",
            "name": "Every 2 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                400,
                3360
            ]
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "getAll",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "mgot1kl4sglenym",
                "where": "(status,eq,Programado)",
                "options": {}
            },
            "id": "9196488e-a74d-4791-b005-e0209c57f3a9",
            "name": "Get Leads",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                620,
                3360
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "is-due-check",
                            "leftValue": "={{ $json.fecha_planificada }}",
                            "operator": {
                                "operation": "before",
                                "type": "dateTime"
                            },
                            "rightValue": "={{ $now }}"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "due-filter-001",
            "name": "Is Due Now?",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.2,
            "position": [
                840,
                3360
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "0efeec15-29a5-4f0a-a7f5-7c23136b54fb",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1060,
                3360
            ]
        },
        {
            "parameters": {
                "url": "https://api.vapi.ai/call?limit=100",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 852080ba-ce7c-4778-b218-bf718613a2b6"
                        }
                    ]
                },
                "options": {}
            },
            "id": "check-concurrency-001",
            "name": "Check Active Calls",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1280,
                3360
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "VyoKa0HV9ZpyrdVx",
                    "name": "Header Auth account"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "count-active-id",
                            "name": "activeCallCount",
                            "type": "number",
                            "value": "={{ (Array.isArray($json) ? $json : []).filter(c => ['queued', 'ringing', 'in-progress'].includes(c.status)).length }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "count-active-001",
            "name": "Count Active",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1500,
                3360
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "under-limit-check",
                            "leftValue": "={{ $json.activeCallCount }}",
                            "operator": {
                                "operation": "lt",
                                "type": "number"
                            },
                            "rightValue": 10
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "under-limit-001",
            "name": "Under Limit?",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.2,
            "position": [
                1720,
                3360
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "wait-for-slot-001",
            "name": "Wait For Slot",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1720,
                3560
            ],
            "webhookId": "wait-slot-webhook-001"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "format-phone-id",
                            "name": "formattedPhone",
                            "type": "string",
                            "value": "={{ (function() { let p = ($('Split In Batches').item.json.phone || '').toString().replace(/\\D/g, ''); return p ? (p.startsWith('34') ? '+' + p : '+34' + p) : ''; })() }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "f624ac08-0e01-4737-bbd9-bfcbe78b2b10",
            "name": "Normalize Phone",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1940,
                3360
            ]
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"nombre\": \"{{ $('Split In Batches').item.json.name || 'cliente' }}\",\n  \"empresa\": \"{{ $('Split In Batches').item.json.name || 'su empresa' }}\",\n  \"address\": \"{{ $('Split In Batches').item.json.address || 'su localidad' }}\",\n  \"email\": \"{{ $('Split In Batches').item.json.email || '' }}\",\n  \"formattedPhone\": \"{{ $('Normalize Phone').item.json.formattedPhone }}\",\n  \"leadId\": \"{{ $('Split In Batches').item.json.unique_id }}\"\n}",
                "options": {}
            },
            "id": "d8bfb46b-5cfb-4504-938c-3d262df05dd0",
            "name": "Prepare Call Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2160,
                3360
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vapi.ai/call",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 852080ba-ce7c-4778-b218-bf718613a2b6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"customer\": { \"number\": \"{{ $json.formattedPhone }}\" },\n  \"assistantId\": \"49e56db1-1f20-4cf1-b031-9cea9fba73cb\",\n  \"phoneNumberId\": \"611c8c8e-ab43-4af0-8df0-f2f8fac8115b\",\n  \"assistantOverrides\": { \"variableValues\": { \"ciudad\": \"{{ $json.address }}\", \"nombre\": \"{{ $json.nombre }}\", \"tel_contacto\": \"{{ $json.formattedPhone }}\", \"correo_cliente\": \"{{ $json.email }}\", \"empresa\": \"{{ $json.empresa }}\" } }\n}",
                "options": {}
            },
            "id": "7683c085-138b-430d-90ac-8c1a961ae1e0",
            "name": "Call Vapi AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2380,
                3360
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "VyoKa0HV9ZpyrdVx",
                    "name": "Header Auth account"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "log-id",
                            "name": "vapi_call_id",
                            "type": "string",
                            "value": "={{ $json.id || '' }}"
                        },
                        {
                            "id": "log-name",
                            "name": "lead_name",
                            "type": "string",
                            "value": "={{ $('Prepare Call Data').item.json.empresa || 'Cliente' }}"
                        },
                        {
                            "id": "log-phone",
                            "name": "phone_called",
                            "type": "string",
                            "value": "={{ $('Prepare Call Data').item.json.formattedPhone }}"
                        },
                        {
                            "id": "log-time",
                            "name": "call_time",
                            "type": "string",
                            "value": "={{ $now }}"
                        },
                        {
                            "id": "log-status",
                            "name": "ended_reason",
                            "type": "string",
                            "value": "={{ $json.id ? 'Call Initiated' : 'Error - ' + ($json.message || $json.error || 'Unknown') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ed755e83-b034-4bb7-84f6-23e0282dfe6d",
            "name": "Prepare Log",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2600,
                3360
            ]
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "m013en5u2cyu30j",
                "dataToSend": "autoMapInputData"
            },
            "id": "13584ee7-bc89-400c-bd75-13c3f7d2ecf5",
            "name": "Insert Log",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                2820,
                3360
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://nocodb.srv889387.hstgr.cloud/api/v2/tables/mgot1kl4sglenym/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xc-token",
                            "value": "jx3uoKeVaidZLF7M0skVb9pV6yvNsam0Hu-Vfeww"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "=[{\"unique_id\": \"{{ $('Prepare Call Data').item.json.leadId }}\", \"status\": \"Completado\", \"fecha_planificada\": null}]",
                "options": {}
            },
            "id": "ec77c933-a439-4878-8afc-f70eb6ded679",
            "name": "Update Lead Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3040,
                3360
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "3b523551-cab4-4ab9-afa7-12e5c35ac5e8",
            "name": "Wait 30s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                3260,
                3360
            ],
            "webhookId": "e006aade-1c7b-4691-8c49-71878091bc8d"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-confirmed-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "06265cd4-46ad-44db-bce3-9205743703ed",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                1180,
                2980
            ],
            "webhookId": "32f3436e-fcae-435a-aabe-1e5fb21782c3"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}",
                "options": {}
            },
            "id": "7a0727a4-1bab-4abc-bc42-231dad7b3ebe",
            "name": "Respond Immediately1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                2980
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nlet name = '';\nlet phone = '';\nlet email = '';\nlet tipo_empresa = '';\nlet interes_recurrentes = '';\nlet notas = '';\n\n// FORMAT 1: Wrapped Vapi Server URL format\nif (body.message && body.message.type === 'tool-calls' && body.message.toolCalls) {\n  const toolCall = body.message.toolCalls.find(tc => tc.function && tc.function.name && tc.function.name.includes('save_confirmed_data'));\n  if (toolCall) {\n    const args = typeof toolCall.function.arguments === 'string' ? JSON.parse(toolCall.function.arguments) : toolCall.function.arguments;\n    name = args.name || '';\n    phone = args.phone || '';\n    email = args.email || '';\n    tipo_empresa = args.tipo_empresa || '';\n    interes_recurrentes = args.interes_recurrentes || '';\n    notas = args.notas || '';\n  }\n}\n\n// FORMAT 2: Direct Vapi API Request tool format\nif (!name && (body.name || body.email)) {\n  name = body.name || '';\n  phone = body.phone || '';\n  email = body.email || '';\n  tipo_empresa = body.tipo_empresa || '';\n  interes_recurrentes = body.interes_recurrentes || '';\n  notas = body.notas || '';\n}\n\nif (!name && !email) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    confirmed_name: name,\n    confirmed_email: email,\n    confirmed_phone: phone,\n    tipo_empresa: tipo_empresa,\n    interes_recurrentes: interes_recurrentes,\n    notas: notas\n  }\n}];"
            },
            "id": "f1170372-c108-4c00-9059-f7af1673d031",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1580,
                2980
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "id": "has-data-check",
                            "leftValue": "={{ $json.skip }}",
                            "operator": {
                                "operation": "notEqual",
                                "type": "boolean"
                            },
                            "rightValue": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "423161ae-ac67-45c7-bfea-4e908cc48248",
            "name": "Has Valid Data?1",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.2,
            "position": [
                1780,
                2980
            ]
        },
        {
            "parameters": {
                "url": "https://api.vapi.ai/call?limit=1",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 852080ba-ce7c-4778-b218-bf718613a2b6"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2975ac23-d186-4873-aff4-fc3841f48434",
            "name": "Get Latest Vapi Call1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1980,
                2980
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "VyoKa0HV9ZpyrdVx",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "set-nombre",
                            "name": "Nombre Confirmado",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.confirmed_name }}"
                        },
                        {
                            "id": "set-email",
                            "name": "Email Confirmado",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.confirmed_email }}"
                        },
                        {
                            "id": "set-phone",
                            "name": "Teléfono Confirmado",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.confirmed_phone }}"
                        },
                        {
                            "id": "set-callid",
                            "name": "Vapi Call ID",
                            "type": "string",
                            "value": "={{ Array.isArray($json) ? $json[0].id : ($json.id || '') }}"
                        },
                        {
                            "id": "set-tipo-empresa",
                            "name": "Tipo Empresa",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.tipo_empresa }}"
                        },
                        {
                            "id": "set-interes",
                            "name": "Interes Recurrentes",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.interes_recurrentes }}"
                        },
                        {
                            "id": "set-notas",
                            "name": "Notas",
                            "type": "string",
                            "value": "={{ $node[\"Extract Data\"].json.notas }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "91c379e4-0180-48a1-b113-344005cb50aa",
            "name": "Prepare Confirmed Record1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2180,
                2980
            ]
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "mtoilizta888pej",
                "dataToSend": "autoMapInputData"
            },
            "id": "3c4e342f-7b76-4256-986e-c081d54eefae",
            "name": "Insert Confirmed Table",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                2380,
                2980
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "update",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "m013en5u2cyu30j"
            },
            "id": "7785aca9-c071-4296-b179-a7d178616694",
            "name": "Mark Call as Confirmed",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                2580,
                2980
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        }
    ],
    "connections": {
        "Every 2 Minutes": {
            "main": [
                [
                    {
                        "node": "Get Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Leads": {
            "main": [
                [
                    {
                        "node": "Is Due Now?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Due Now?": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split In Batches": {
            "main": [
                [],
                [
                    {
                        "node": "Check Active Calls",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Active Calls": {
            "main": [
                [
                    {
                        "node": "Count Active",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Count Active",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Count Active": {
            "main": [
                [
                    {
                        "node": "Under Limit?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Under Limit?": {
            "main": [
                [
                    {
                        "node": "Normalize Phone",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait For Slot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait For Slot": {
            "main": [
                [
                    {
                        "node": "Check Active Calls",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Phone": {
            "main": [
                [
                    {
                        "node": "Prepare Call Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Call Data": {
            "main": [
                [
                    {
                        "node": "Call Vapi AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Vapi AI": {
            "main": [
                [
                    {
                        "node": "Prepare Log",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prepare Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Log": {
            "main": [
                [
                    {
                        "node": "Insert Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Log": {
            "main": [
                [
                    {
                        "node": "Update Lead Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Lead Status": {
            "main": [
                [
                    {
                        "node": "Wait 30s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 30s": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Respond Immediately1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond Immediately1": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Has Valid Data?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Valid Data?1": {
            "main": [
                [
                    {
                        "node": "Get Latest Vapi Call1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Latest Vapi Call1": {
            "main": [
                [
                    {
                        "node": "Prepare Confirmed Record1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Confirmed Record1": {
            "main": [
                [
                    {
                        "node": "Insert Confirmed Table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Confirmed Table": {
            "main": [
                [
                    {
                        "node": "Mark Call as Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "f0162b38a1f8ee05f971361a1da208e096da623a99e7bb064e6c378b9b7fd5a9"
    }
}